In [23]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm

In [4]:
Cutlets=pd.read_csv("Cutlets.csv")
Cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [7]:
Cutlets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [6]:
Cutlets.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [8]:
t_value=7.019091-6.964297/(6.964297/np.sqrt(35))

In [9]:
t_value

1.1030112169003843

In [10]:
t_critical=stats.t.ppf(0.975,34)
t_critical

2.032244509317718

In [11]:
stats.ttest_ind(Cutlets["Unit A"],Cutlets["Unit B"])

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [12]:
lab=pd.read_csv("LabTAT.csv")
lab.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [13]:
stats.f_oneway(lab["Laboratory 1"],lab["Laboratory 2"],lab["Laboratory 3"],lab["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [16]:
male_female=pd.read_csv("BuyerRatio.csv")
male_female.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [18]:
stats.chi2_contingency(male_female.iloc[:,1:])

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [28]:
fanta=pd.read_csv("Faltoons.csv")
fanta.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [34]:
fanta.weekdays=fanta["Weekdays"].map({"Male":0,"Female":1})
fanta.weekend=fanta["Weekend"].map({"Male":0,"Female":1})
fanta.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [35]:
stats.ttest_ind(fanta["Weekdays"],fanta["Weekend"])

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [36]:
cust=pd.read_csv("Costomer+OrderForm.csv")
cust.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [55]:
cat_data = cust.select_dtypes(exclude='number')
cat_data.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [56]:
for col in cat_data:
    print(col, "\n")
    print(cat_data[col].value_counts())
    print("_____________","\n\n")

In [57]:
for col in cust.columns:
    cust[col]=cust[col].map({"Error Free":1,"Defective":2})

In [58]:
cust

     Phillippines  Indonesia  Malta  India
0             NaN        NaN    NaN    NaN
1             NaN        NaN    NaN    NaN
2             NaN        NaN    NaN    NaN
3             NaN        NaN    NaN    NaN
4             NaN        NaN    NaN    NaN
..            ...        ...    ...    ...
295           NaN        NaN    NaN    NaN
296           NaN        NaN    NaN    NaN
297           NaN        NaN    NaN    NaN
298           NaN        NaN    NaN    NaN
299           NaN        NaN    NaN    NaN

[300 rows x 4 columns]

In [51]:
stats.chi2_contingency(cust.loc[(cust!=0).any(axis=1)])

(nan,
 nan,
 897,
 array([[nan, nan, nan, nan],
        [nan, nan, nan, nan],
        [nan, nan, nan, nan],
        ...,
        [nan, nan, nan, nan],
        [nan, nan, nan, nan],
        [nan, nan, nan, nan]]))